<StackLayout orientation="horizontal">
  <ng-container *ngFor="let option of options">
    <ng-container
      *ngIf="!disabled && selected === option.answer; else notSelected"
    >
      <Button
        [text]="option.answer"
        class="btn btn-black-outline"
        (tap)="selectAnswer($event)"
      >
      </Button>
    </ng-container>
    <ng-template #notSelected>
      <Button
        [text]="option.answer"
        class="btn btn-black-outline"
        (tap)="selectAnswer($event)"
      >
      </Button>
    </ng-template>
  </ng-container>
</StackLayout>
